.container{
    background-color:rgb(165, 79, 245);
    display:flex; 
    color:aliceblue; 
    height:35px;

}
.input{
    margin-left: 900px;
    height: 20px;
    margin-top: 8px;
}


.nav {
    text-decoration: none;
    margin-top: 8px;
    display: inline-flex;
    margin-left:50px;
    color: aliceblue;
}

.container1{
    background-color:rgb(236, 225, 246);
    display:flex; 
    color:black; 
    height:35px;
    font-size: 15px;
}
.h5{
    margin-top: 8px;
    font-size:15px;
    margin-left:300px;
}

.select{
    margin-top: 8px;
    font-size:15px;
    margin-left:25px;
    height: 20px;
   
}

.poster_img{
    width:1510px;
    height:500px;
}

.container2{
  color:aliceblue; 
    height:35px;  
    background-color:rgb(165, 79, 245); 
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;

}

.new{
    color: black;
    font-size: 30px;
    text-align: center;
}

.main_page_img{
   display: inline-flex;
   margin: 35px;
  justify-content: center;
}

.box{
    height: 580px; 
    width: 300px;
    margin: 20px;
    border: 2px solid rgb(247, 242, 242);
    padding: 10px;                                                                                                            
}
.box img {
      width: 100%;
      height: 400px;
      display: block;
}

.button{
    text-decoration: none;
    color:aliceblue;
    background-color:rgb(165, 79, 245) ;
}

