.container{
    background-color:rgb(165, 79, 245);
    display:flex; 
    color:aliceblue; 
    height:35px;

}
.input{
    margin-left: 930px;
    height: 20px;
    margin-top: 8px;
}


.nav {
    text-decoration: none;
    margin-top: 8px;
    display: inline-flex;
    margin-left:50px;
    color: aliceblue;
}

.container1{
    background-color:rgb(236, 225, 246);
    display:flex; 
    color:black; 
    height:35px;
    font-size: 15px;
}
.nav2{
    margin-top: 8px;
    font-size:15px;
    margin-left:30px;
    color: black;
    text-decoration: none;
    display: inline-flex;
}

.select{
    margin-top: 8px;
    font-size:15px;
    margin-left:25px;
    height: 20px;
   
}

.container2{
  color:aliceblue; 
    height:35px;  
    background-color:rgb(165, 79, 245); 
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;

}

.main_img{
    height:500px; 
    width:1500px;
}

.container3{
    height:500px;
    background-color: rgb(235, 234, 234);
}
